@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary : #FFB903}


/* styles/background.css */
.backgroundImage {
  background-image: url('../../public/FondHero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
  position:relative;
  z-index:0}

/* Adjustments for tablets */
@media (max-width: 768px) {
  .backgroundImage {
    background-position: top;
  }
}

/* Adjustments for mobile phones */
@media (max-width: 480px) {
  .backgroundImage {
    background-image: url('../../public/FondHero.png');
  }
}