@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-quicksand: var(--font-quicksand);
    --color-darkgreen: #175857;
  --color-lightbraun: #ae6f36;
  --color-darkbraun: #7E4F25;
  --color-lightbg: #FAF6F1;
  --color-textdark: #2D2212;
  --color-lightgreen : #257E7C;
   --color-cream : #fceee7;
--color-orange : #e09049}


/* styles/background.css */
.backgroundImage {
  background-image: url('../../public/FondHero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
  position:relative;
  z-index:0}

/* Adjustments for tablets */
@media (max-width: 768px) {
  .backgroundImage {
    background-position: top;
  }
}

/* Adjustments for mobile phones */
@media (max-width: 480px) {
  .backgroundImage {
    background-image: url('../../public/FondHero.png');
  }
}

.custom-shape-divider-bottom-1749304765 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1749304765 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1749304765 .shape-fill {
    fill: #8C5B27;
}